body{
    background-color: #2d2d2d;
}
#header{
    height: 40vh;
    background: linear-gradient(to bottom, transparent, #2d2d2d );
    background-position: center;
    background-size: cover;
}

h1{
    color: white;
    text-shadow: 5px 5px 5px black;
    letter-spacing: 2px;
    
}

*{
    color: white;
}

.btn-custom{
    height: 40px;
    width: 130px;
    background-color: darkred;
    color: white;
    transition: 0.6s;
    text-transform: uppercase;
    box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.6);
}

.btn-custom:hover{
    transform: scale(1.2);
    color: white;
    
}

form input, textarea{
    box-shadow: 3px 3px 5px rgba($color: black, $alpha: 0.6);
    
}

textarea{
    color: black !important;
}

.btn-home{
    padding: 15px;
    background: red;
    color: white;
    transition: 0.6s;
}
.btn-home:hover{
    color: white;
    text-decoration: none;
}



.navcostum a{
    color: white !important;
    text-decoration: none !important;
    margin-left: 2px;
    margin-right: 2px;
}

.btn-index{
    display: flex;
    height: 50px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: darkred;
    text-transform: uppercase;
    border-radius: 20px;

}

.btn-delete{
    border: none !important;
}


.btn-mod:hover{
    text-decoration: none;
    background-color: rgba($color: #c51f1a, $alpha: 0.7);
    margin: 2px;
}

.pagination a{
    color: black !important;
}
svg{
    display: none !important;
}
.z-0{
    display: none !important;
}

.pagination p{
    display: none;
}

.auth label{
    color: black;
}

.auth a{
    color: black;
}

.dropdown-item a{
    color: black !important;
}